<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<link rel="stylesheet" th:href="@{/css/record.css}">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script th:src="@{/js/location.js}"></script>
<body>
	<th:block th:include="fragments/navbar-affiliate"></th:block>
	
	<div class="container">
		<div class = "card">
		<div class = "card-header"> Edit Services </div>
			<div class = "card-body">
				
				<form th:action="@{/services/services-edit/{id}(id=${serviceTravel.id})}" th:object="${serviceTravel}" method="POST" enctype="multipart/form-data">
					
					<div class="mb-3">
						<label for="serviceName" class="form-label">Services Name</label> 
						<input id="serviceName"
							class="form-control" 
							type="text" name="name"
							th:field="*{name}" 
							placeholder="Enter Services Name" />
					</div>
					
					<div class="mb-3">
						<label for="countries" class="form-label">Country</label> 
						<select id="countries" 
							class="form-control"
							th:field="*{country}"
							name="country">
							<option value='-1'>Select Country</option>
							<option th:each="country:${countries}" th:value="${country.id}"
									th:text="${country.name}"/></option>
						</select>
					</div>
					
					<div class="mb-3">
						<label for="department" class="form-label">Department</label> 
						<select id="department" 
							class="form-control"
							th:field="*{department}"
							name="department">
							<option value='-1'>Select Department</option>
							<option th:each="department:${departments}" th:value="${department.id}"
									th:text="${department.name}"/></option>
						</select>
					</div>
					
					<div class="mb-3">
						<label for="province" class="form-label">Province</label> 
						<select id="province" 
							class="form-control"
							th:field="*{province}"
							name="province">
							<option value='-1'>Select Province</option>
							<option th:each="province:${provinces}" th:value="${province.id}"
									th:text="${province.name}"/></option>
						</select>
					</div>
					
					<div class="mb-3">		
						<label for="address" class="form-label">Address</label> 
						<input  id="address"
							class="form-control"
							type="text" name="address"
							th:field="*{address}" 
							placeholder="Enter Address" />
					</div>
					
					<div class="mb-3">
						<label for="serviceType" class="form-label">Type of Service</label>
						<select id="serviceType"
								class="form-select"
								th:field="*{serviceType}"
								name="serviceTypes">
							<option th:each="serviceType:${serviceTypes}" th:value="${serviceType.id}"
								th:text="${serviceType.name}" />
						</select>
					</div>
					
					<div class="mb-3">
						<label for="file" class="form-label">Photo:</label> 
						<input type="file" class="form-control" id="file" name="file">
					</div>
					
					<button type="submit" class="btn btn-primary">Update Service</button>
					<a th:href="@{/services/list}" class="btn btn-danger" >Back</a>
					
				</form>
			</div>
		</div>
	</div>
	<th:block th:include="fragments/scripts"></th:block>
</body>
</html>